*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#headingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 45vh;
    padding: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    padding: 25px;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.board{
    /* border: 5px solid black; */
    height: 72vh;
    width: 50vh;
    padding: 15px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

button{
    display: block;
    margin: auto;
    border: none;
    background-color: yellow;
    color: red;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover{
    background-color: greenyellow;
    color: red;
}

.item{
    border: 2px solid black;
    border-width: 3px;
    color: lightskyblue;
    margin: 10px 5px;
    text-align: center;
    cursor: pointer;
}
.item:hover{
    background-color: black;
    color: red;
}